
body {
    font-family: 'Montserrat', sans-serif !important;
}

.section {
    padding-left: 141px !important;
    padding-right: 82px !important;
}

a.nav-link {
    font-size: 30px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    padding-right: 3%;
    padding-bottom: 3%;
    position: relative;
    display: inline-block;
}

a.nav-link:after {
    display: block;
    content: '';
    height: 4px;
    background: linear-gradient(114.44deg, #624AF2 0%, #50DDC3 100%);
    transform: scaleX(0.0001);
    transition: transform 250ms ease-in-out;
    box-shadow: inset -40px 0px 30px -25px #fff, inset 40px 0px 30px -25px #fff;
}

a.nav-link:hover:after {
    transform: scaleX(1);
}

.btn.qq-button {
    font-family: 'Poppins', 'Montserrat' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    letter-spacing: 0.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    background: #1F52FF;
    border-radius: 40px;
    color: #F7F7FC;
    border: none;
    transition: all 0.3s ease;
}

.btn.qq-button:hover {
    color: #F7F7FC;
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
}

.btn.qq-button:active {
    background: linear-gradient(114.44deg, #624AF2 0%, #50DDC3 100%);
    color: #F7F7FC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.partners__section,
.services__section,
.advantages__section {
    padding: 130px 0;
    position: relative;
}

@media (max-width: 1440px) {
    html {
        font-size: 14px !important;
    }
}

@media (max-width: 1240px) {
    html {
        font-size: 13px !important;
    }
}

@media (max-width: 1120px) {
    html {
        font-size: 12px !important;
    }
}

.title-text {
    font-style: normal;
    font-weight: 500;
    font-size: 3.75em;
    line-height: 2.75em;
    text-transform: uppercase;
    color: #000000;
}


@media screen and (orientation: portrait) and (max-width: 880px) {
    .title-text {
        font-size: 2.2em;
        line-height: 2.2em;
    }
    
}